bs4
python-dotenv
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-core
langchain-huggingface
langchain-chroma
faiss-cpu
fastapi
uvicorn
langserve
sse_starlette
transformers
streamlit
pypdf
arxiv
wikipedia
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
boto3
awscli
langchain_nvidia_ai_endpoints